body{
    font-family: Arial, sans-serif;
    background-color: #8372c0;
    margin: 0;
    padding: 20px;
}

// .committee table{
//     width: 100%;
//     border-collapse: collapse;
//     margin-top: 20px;
//     color: black;
//     background: #E4D4F6;
// }